@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Ubuntu", sans-serif;
}

/* utils */
.active {
  background-color: var(--Pastel-blue);
  color: black;
}
.required {
  border: 1px solid var(--Strawberry-red) !important;
}
.none {
  display: none;
}
.color {
  color: var(--Marine-blue);
}
.selected {
  border: 1.5px solid var(--Marine-blue) !important;
}
.body {
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-gray);
}
.body-form {
  width: 60%;
  height: 450px;
  display: flex;
  gap: 3rem;
  background-color: var(--White);
  border-radius: 10px;
}

/* komponen sidebar */
.sidebar {
  height: 100%;
  width: 28%;
  display: flex;
  justify-content: center;
  background-image: url("./components/assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.sidebar .sidebarList {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  font-size: 12px;
  gap: 2rem;
}
.sidebar .sidebarList .toInfo,
.toPlan,
.toAddOns,
.toSummary {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--White);
}
.sidebar .sidebarList .toInfo .num1,
.toPlan .num2,
.toAddOns .num3,
.toSummary .num4 {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--White);
  border-radius: 100%;
}
.sidebar .sidebarList .step {
  color: var(--Light-blue);
}

/* komponen pages*/
.info,
.plan,
.addOns,
.summary {
  padding: 2rem 0 2rem 0;
  width: 60%;
}
.thanks {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .formInfo,
.plan,
.bodyPlan,
.addOns,
.bodyAddOns,
.summary,
.bodySummary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.thanks .bodyThanks {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--Marine-blue);
  gap: 1rem;
}
.thanks .bodyThanks .main p {
  margin-top: 1rem;
  color: var(--Cool-gray);
}

.info .formInfo .headForm,
.plan .headPlan,
.addOns .headAddOns,
.summary .headSummary {
  text-align: justify;
  color: var(--Marine-blue);
}
.info .formInfo .headForm p,
.plan .headPlan p,
.addOns .headAddOns p,
.summary .headSummary p {
  font-size: 15px;
  margin-top: 0.5rem;
  color: var(--Cool-gray);
}
.info .formInfo .grup-input {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 1rem;
  color: var(--Marine-blue);
}
.info .formInfo .grup-input .label {
  display: flex;
  justify-content: space-between;
}
.info .formInfo .grup-input .label label:nth-child(2) {
  color: var(--Strawberry-red);
}
.info .formInfo .grup-input input {
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid var(--Cool-gray);
  border-radius: 5px;
  color: var(--Marine-blue);
}
.info .formInfo .grup-input input:focus {
  border: 1px solid var(--Purplish-blue);
}
.info .formInfo .btnGrup .btn,
.plan .bodyPlan .btnGrup .btn,
.addOns .bodyAddOns .btnGrup .btn,
.summary .bodySummary .btn {
  padding: 0.8rem;
  width: 6rem;
  cursor: pointer;
  background-color: var(--Marine-blue);
  color: var(--White);
  border: 0;
  border-radius: 5px;
  margin-top: 3rem;
  float: right;
}
.plan .bodyPlan .btnGrup .btn,
.addOns .bodyAddOns .btnGrup .btn,
.summary .bodySummary .btnGrup .btn {
  margin-top: 0rem !important;
}
.summary .bodySummary .btnGrup .btn {
  background-color: var(--Purplish-blue);
}
.plan .bodyPlan .selectBodyPlan {
  display: flex;
  justify-content: space-between;
}
.plan .bodyPlan .selectBodyPlan .cardPlan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1.5px solid var(--Cool-gray);
  border-radius: 10px;
  width: 5rem;
  height: 8rem;
  padding: 1rem;
  cursor: pointer;
}
.caption {
  font-size: 0.7rem;
  color: var(--Marine-blue);
}
.plan .bodyPlan .selectTime {
  display: flex;
  gap: 1.5rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--Cool-gray);
  background-color: var(--Magnolia);
}
.plan .bodyPlan .btnGrup,
.addOns .bodyAddOns .btnGrup,
.summary .bodySummary .btnGrup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.plan .bodyPlan .btnGrup .btnGoBack,
.addOns .bodyAddOns .btnGrup .btnGoBack,
.summary .bodySummary .btnGrup .btnGoBack {
  color: var(--Marine-blue);
  font-weight: 500;
  cursor: pointer;
}
.addOns .bodyAddOns .bodyCheckBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.addOns .bodyAddOns .bodyCheckBox .chekbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--Purplish-blue);
  border-radius: 10px;
  gap: 0.5rem;
  padding: 1rem;
  height: 2rem;
}
.addOns .bodyAddOns .bodyCheckBox .chekbox input {
  width: 1rem;
  height: 1rem;
}
.addOns .bodyAddOns .bodyCheckBox .chekbox .expCheckBox {
  color: var(--Marine-blue);
  margin-right: 3rem;
}
.addOns .bodyAddOns .bodyCheckBox .chekbox .expCheckBox p:nth-child(2) {
  color: var(--Cool-gray);
}
.addOns .bodyAddOns .bodyCheckBox .chekbox .fee {
  color: var(--Purplish-blue);
}
.summary .bodySummary .prevSummary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: var(--Magnolia);
  border-radius: 10px;
}
.summary .bodySummary .prevSummary .Plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  color: var(--Marine-blue);
  border-bottom: 1px solid var(--Cool-gray);
}
.summary .bodySummary .prevSummary .AddOns {
  display: flex;
  flex-direction: column;
  color: var(--Cool-gray);
  gap: 1rem;
}
.summary .bodySummary .prevSummary .AddOns .feeAddOns {
  color: var(--Pastel-blue);
}
.summary .bodySummary .prevSummary .AddOns .dispAddOns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summary .bodySummary .prevSummary .Plan .expPlan,
.summary .bodySummary .prevSummary .AddOns .expAddOns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.summary .bodySummary .prevSummary .Plan .expPlan .change {
  color: var(--Cool-gray);
  text-decoration: underline;
  cursor: pointer;
  width: max-content;
}
.summary .bodySummary .prevSummary .Plan .expPlan .change:hover {
  color: var(--Purplish-blue);
}
.summary .bodySummary .totalSummary {
  display: flex;
  justify-content: space-between;
  color: var(--Cool-gray);
}
.summary .bodySummary .totalSummary .feeTotal {
  color: var(--Purplish-blue);
  font-weight: 500;
}
/* komponen button switch */

.switchBtn {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: var(--Marine-blue);
  transition: 0.4s;
  border-radius: 2.5rem;
}

.switchBtn:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  transform: var(--move, translateX(0));
}

@media (max-width: 480px) {
  .body {
    font-size: 16px;
    width: 100vw;
    height: 80vh;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--Light-gray);
  }
  .body-form {
    width: 80%;
    height: auto;
    padding: 1rem 1rem;
    margin-top: -3rem;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 3rem;
    background-color: var(--White);
    border-radius: 10px;
  }
  .sidebar {
    position: absolute;
    height: 25%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background-image: url("./components/assets/images/bg-sidebar-mobile.svg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .sidebar .sidebarList {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    font-size: 12px;
    gap: 2rem;
  }
  .sidebar .sidebarList .exp {
    display: none;
  }
  .sidebar .sidebarList .toInfo,
  .toPlan,
  .toAddOns,
  .toSummary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--White);
    cursor: pointer;
  }
  .info,
  .plan,
  .addOns,
  .summary {
    padding: 0.5rem 0 0.5rem 0;
    width: 90%;
  }
  .thanks {
    width: 90%;
    height: 400px;
  }
  .info .formInfo .headForm,
  .plan .headPlan,
  .addOns .headAddOns,
  .summary .headSummary {
    text-align: start;
  }
  .info .formInfo .btnGrup,
  .plan .bodyPlan .btnGrup,
  .addOns .bodyAddOns .btnGrup,
  .summary .bodySummary .btnGrup {
    position: absolute;
    background-color: var(--White);
    width: 95%;
    left: 0;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    align-items: center;
    height: 50px !important;
    top: 100%;
  }
  .info .formInfo .btnGrup .btn,
  .plan .bodyPlan .btnGrup .btn,
  .addOns .bodyAddOns .btnGrup .btn,
  .summary .bodySummary .btn {
    margin-top: 0rem;
  }
  .plan .bodyPlan .selectBodyPlan {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .plan .bodyPlan .selectBodyPlan .cardPlan {
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    height: 3rem;
    width: 85%;
  }
  .addOns .bodyAddOns .bodyCheckBox .chekbox {
    width: 90%;
  }
  .addOns .bodyAddOns .bodyCheckBox .chekbox .expCheckBox {
    font-size: 0.8rem;
    width: 100%;
  }
  .addOns .bodyAddOns .bodyCheckBox .chekbox input {
    width: 1.5rem;
    height: 1.5rem;
  }
}
